# Ambiente
.env
*.pyc
__pycache__/
.DS_Store

# Logs do Airflow
logs/

# Controle de estado interno (gerado em runtime)
inputs/dynamic_trigger_control_dag_last_mtime

# Airflow runtime
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
